.AdsDiv{
    margin: 3px;
    width: 20%;
    border: 1px solid rgb(98, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.adsDivAds{
    margin: 1px;
    height: 22%;
    width: 94%;
    border: 1px solid rgb(178, 0, 1);
}
.adsDivAds:hover{
    box-shadow: rgb(33, 71, 74) 2px 2px 2px;
    background: linear-gradient(to right, rgb(98, 153, 150), rgb(218, 235, 236));
}