@media only screen and (max-width: 1370px) {
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0px;
    }
    #ShoDatImg{
        margin: 5px;
        width: 94%
    }
}