@media only screen and (max-width: 766px) {
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0px;
        
    }
    html{
        background: linear-gradient(to bottom,rgb(218, 235, 236));
        background-size: contain;
    }
    #ShoDatImg{
        margin: 5px;
        width: 94%
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
    }


    .headerDiv{
        overflow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #searchBarDiv{
        height: auto;
        width: 96%;
        background: rgb(218, 235, 236);
        border: 2px solid rgb(178, 0, 1);
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        position: sticky;
        top: 15px;
    }
    .searchBarBtn{
        align-self: center;
        justify-self: center;
        height: 22px;
        width: 150px;
        margin: 4px;
        background: linear-gradient (rgb(218, 235, 236));
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .searchBarBtn:hover{
        background: linear-gradient(to right, rgb(178, 0, 1), rgb(98, 0, 0));
        color: rgb(218, 235, 236);
        box-shadow: 2px 2px 4px rgb(98, 153, 150);
        border-radius: 3px;
    }










    #aboutDiv{
        margin: 8px;
        display: flex;
        background: linear-gradient(rgb(33, 71, 74), rgb(98, 153, 150));
        color: rgb(218, 235, 236);
        border: 1px solid rgb(33, 71, 74);
        border-top-right-radius: 22px;
        border-bottom-left-radius: 12px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #aboutImgDiv{
        width: 32%
    }
    #aboutTextDiv{
        width: 64%;
    }
    #staffImg{
        width: 100%;
        margin-right: 6px;
    }
    #homeBodyDiv{
        display: flex;
        flex-direction: row;
    }



    /* RESULTS */
    #songInfoDiv{
        margin: 4px;
        width: 96%;
        border: solid rgb(33, 71, 74) 2px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background: linear-gradient(rgb(33, 71, 74), rgb(98, 153, 150));
        color: rgb(218, 235, 236);
    }
    #songInfoP{
        margin:  4px;
        text-align: center;
        font-size: 30px;
    }
    #popularityGraphDiv{
        background: white;
    }
    #resultsBodyDiv{
        display: flex;
        flex-direction: row;
    }
    #lyricsH3{
        text-align: center;
    }
    #resultsDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #resultsLyricsDiv{
        height: 166px;
        margin: 2px;
        font-size: 26px;
        background: linear-gradient(to right, rgb(149, 186, 185), rgb(218, 235, 236));
        color: rgb(98, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #recDiv1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #recDiv2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .recommendation{
        margin: 3px;
        width: 1fr;
        height: 60px;
        border: solid rgb(178, 0, 1) 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    border: red 1px solid;
}


